@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    color: #4e4e4e;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 2% 0;
    padding: 0;
}

h2 {
    font-size: 30px;
    font-weight: 700;
}

#hero-section p {
    font-size: 20px;
    margin: 10% 0 5% 0;
    font-weight: 500;
}

#hero-section {
    background-image: url(shapes/top-banner.png);
    background-repeat: no-repeat;
}

.container-section {
    display: flex;
    margin-bottom: 50px;
}

.half-width {
    width: 50%;
    margin: 5%;
}

#wlc-text {
    margin-top: 10%;
}

#hero-section img {
    width: 100%;
}

.half-width h1 span {
    color: #fe4b2e;
}

.link-button {
    background-image: linear-gradient(40deg, #fe4b2e, #fc8f49);
    padding: 15px 40px;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    box-shadow: 0px 0px 30px #fe4b2e;
    font-size: 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

#about-section {
    background-image: url(shapes/7.png);
    background-repeat: no-repeat;
    height: 500px;
    padding: 0;
}

#about-section img {
    width: 65%;
    margin: -10% 10% 0% 30%;
}

#about-section h2 {
    margin-top: 10%;
}

#about-section p {
    font-size: 20px;
    margin: 12% 0 8% 0;
    font-weight: 500;
}

#about-section a {
    margin-top: 20%;
}


/*Blog contianer section*/

.my-recipies {
    padding: 70px;
}

.my-recipies h1 {
    text-align: center;
}

.my-recipies-short-pragrapg {
    text-align: center;
    padding: 0 15% 3% 15%;
}

.blog-container {
    display: flex;
    justify-content: space-between;
}

.blog-item {
    height: 450px;
    width: 530px;
    box-shadow: 0 5px 20px #666666a1;
    /* background-color: #ffdada; */
    padding: 30px 25px;
    border-radius: 30px;
}

.image-box1 {
    background-image: url(image/Project\ Cover.png);
    width: 530px;
    height: 300px;
    background-color: #4e4e4e;
    border-radius: 30px;
    background-size: cover;
    background-repeat: no-repeat;
}

.image-box2 {
    background-image: url(image/Project\ Cover1.jpg);
    width: 530px;
    height: 300px;
    border-radius: 30px;
    background-size: cover;
    background-repeat: no-repeat;
}

.mileston {
    display: flex;
    justify-content: space-between;
    margin: 5%;
    padding: 4% 10%;
    border-radius: 10px;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
    box-shadow: rgb(102 102 102 / 63%) 0px 5px 20px;
}

.mileston-items p {
    margin-bottom: 0;
}

footer {
    background-color: #0b0d17;
    padding: 3% 15% 5% 15%;
    margin-top: 100px;
}

footer span {
    color: #fb984c;
}

footer h3 {
    color: #878787;
    text-align: center;
}

footer p {
    text-align: center;
    color: rgb(177, 177, 177);
}